In [50]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [36]:
data = pd.read_excel('Concrete_Data.xls')

In [37]:

print('SHAPE',data.shape)
print('SIZE',data.size)

SHAPE (1030, 9)
SIZE 9270

In [38]:
#No null values
data.isnull().sum()

Cement (component 1)(kg in a m^3 mixture)                0
Blast Furnace Slag (component 2)(kg in a m^3 mixture)    0
Fly Ash (component 3)(kg in a m^3 mixture)               0
Water  (component 4)(kg in a m^3 mixture)                0
Superplasticizer (component 5)(kg in a m^3 mixture)      0
Coarse Aggregate  (component 6)(kg in a m^3 mixture)     0
Fine Aggregate (component 7)(kg in a m^3 mixture)        0
Age (day)                                                0
Concrete compressive strength(MPa, megapascals)          0
dtype: int64

In [39]:
new_columns_dict = dict(zip(data.columns, data.columns.map(lambda x : x.replace(' ','_'))))

In [40]:
df = data.rename(columns = new_columns_dict)

In [41]:
df.describe()

       Cement_(component_1)(kg_in_a_m^3_mixture)  ...  Concrete_compressive_strength(MPa,_megapascals)_
count                                1030.000000  ...                                       1030.000000
mean                                  281.165631  ...                                         35.817836
std                                   104.507142  ...                                         16.705679
min                                   102.000000  ...                                          2.331808
25%                                   192.375000  ...                                         23.707115
50%                                   272.900000  ...                                         34.442774
75%                                   350.000000  ...                                         46.136287
max                                   540.000000  ...                                         82.599225

[8 rows x 9 columns]

In [42]:
df.columns

Index(['Cement_(component_1)(kg_in_a_m^3_mixture)',
       'Blast_Furnace_Slag_(component_2)(kg_in_a_m^3_mixture)',
       'Fly_Ash_(component_3)(kg_in_a_m^3_mixture)',
       'Water__(component_4)(kg_in_a_m^3_mixture)',
       'Superplasticizer_(component_5)(kg_in_a_m^3_mixture)',
       'Coarse_Aggregate__(component_6)(kg_in_a_m^3_mixture)',
       'Fine_Aggregate_(component_7)(kg_in_a_m^3_mixture)', 'Age_(day)',
       'Concrete_compressive_strength(MPa,_megapascals)_'],
      dtype='object')

In [43]:
#Separing Features and Target
y = df['Concrete_compressive_strength(MPa,_megapascals)_']
X = df[['Cement_(component_1)(kg_in_a_m^3_mixture)',
       'Blast_Furnace_Slag_(component_2)(kg_in_a_m^3_mixture)',
       'Fly_Ash_(component_3)(kg_in_a_m^3_mixture)',
       'Water__(component_4)(kg_in_a_m^3_mixture)',
       'Superplasticizer_(component_5)(kg_in_a_m^3_mixture)',
       'Coarse_Aggregate__(component_6)(kg_in_a_m^3_mixture)',
       'Fine_Aggregate_(component_7)(kg_in_a_m^3_mixture)', 'Age_(day)']]

   Cement_(component_1)(kg_in_a_m^3_mixture)  ...  Age_(day)
0                                      540.0  ...         28
1                                      540.0  ...         28
2                                      332.5  ...        270
3                                      332.5  ...        365
4                                      198.6  ...        360

[5 rows x 8 columns]

In [46]:
#Fitting the model

linear_regression = LinearRegression()
linear_regression.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [47]:
#Predicting

y_pred = linear_regression.predict(X)

In [51]:
mean_squared_error(y, y_pred)

107.2118027345053

In [56]:
results = pd.DataFrame({
    'y_original' : y, 
    'y_predicted' : y_pred,
    'percentage_error' : (np.abs(y - y_pred)**2 / y)
    })

In [60]:
results.head()

   y_original  y_predicted  percentage_error
0   79.986111    53.472859          8.788432
1   61.887366    53.743312          1.071715
2   40.269535    56.811947          6.795494
3   41.052780    67.663381         17.249115
4   44.296075    60.917232          6.236734

In [59]:
results.percentage_error.describe()

count    1.030000e+03
mean     3.959875e+00
std      7.477215e+00
min      4.388620e-11
25%      3.383897e-01
50%      1.411456e+00
75%      4.154718e+00
max      9.061601e+01
Name: percentage_error, dtype: float64